<main class="page__main">
  <h1>Create an account</h1>
  <h2>It´s free an always will be</h2>
  <form action="" method="POST">
    <input
      placeholder="First Name"
      id="firstname"
      type="text"
      name="Firts Name"
    />
    <input placeholder="Surname" id="surname" type="text" name="Surname" />
    <input
      placeholder="Email or mobile number"
      id="email-tel"
      type="text"
      name="email-tel"
      size="45"
      required
    />
    <input
      placeholder="Re-enter email or mobile number"
      id="email-tel"
      type="text"
      name="email-tel"
      size="45"
      required
    />
    <input
      placeholder="New password"
      id="password"
      type="password"
      name="password"
      size="45"
      required
    />

    <label class="birthday" for="birthday">Birthday</label>
    <input
      placeholder="New password"
      id="birthday"
      type="date"
      name="password"
      size="48"
      required
    />
  </form>
</main>
