.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(88, 172, 179);
}
.btn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  margin: 30px auto;
  font-family: cursive;
}

.txt {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: cursive;
}
