.container-fluid {
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(12, 2rem);
  grid-template-rows: 1fr 3fr 1fr;
  border: 0.1rem black;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem black;
}
.item__1 {
  grid-column: 1/12;
  grid-row: 1/2;
}
