.OnionHater2 {
  width: 100vw;
  height: 100vh;
}

.textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.alert {
  background-color: red;
}
