<main>
  <section class="section-1">
    <article class="article">
      <h2 class="p-title">Título del post</h2>
      <p class="p-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae nobis, ex
        quisquam beatae autem totam consequuntur, culpa nostrum dolores maxime,
        nesciunt porro id optio similique reiciendis deleniti in. Quos, atque?
      </p>
    </article>
    <article class="article">
      <h2 class="p-title">Título del post</h2>
      <p class="p-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae nobis, ex
        quisquam beatae autem totam consequuntur, culpa nostrum dolores maxime,
        nesciunt porro id optio similique reiciendis deleniti in. Quos, atque?
      </p>
    </article>
    <article class="article">
      <h2 class="p-title">Título del post</h2>
      <p class="p-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae nobis, ex
        quisquam beatae autem totam consequuntur, culpa nostrum dolores maxime,
        nesciunt porro id optio similique reiciendis deleniti in. Quos, atque?
      </p>
    </article>
  </section>
  <section class="section-2">
    <article>
      <img class="autor-pic" src="./assets/images/autor-pic.JPG" alt="" />
      <h3>Autor</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
        molestias ab pariatur, laudantium, ex accusamus amet suscipit explicabo
        dicta minima non quibusdam corrupti quis, facere voluptate quia aut
        aliquid odit?
      </p>
    </article>
    <div>
      <nav>
        <ul>
          <li>Sección 1</li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li>Categoría 1</li>
        </ul>
      </nav>
    </div>
  </section>
</main>
