<main>
  <section class="section-1">
    <article class="article">
      <h2 class="p-title">Título del post</h2>
      <p class="p-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae nobis, ex
        quisquam beatae autem totam consequuntur, culpa nostrum dolores maxime,
        nesciunt porro id optio similique reiciendis deleniti in. Quos, atque?
      </p>
    </article>
    <article class="article">
      <h2 class="p-title">Título del post</h2>
      <p class="p-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae nobis, ex
        quisquam beatae autem totam consequuntur, culpa nostrum dolores maxime,
        nesciunt porro id optio similique reiciendis deleniti in. Quos, atque?
      </p>
    </article>
    <article class="article">
      <h2 class="p-title">Título del post</h2>
      <p class="p-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae nobis, ex
        quisquam beatae autem totam consequuntur, culpa nostrum dolores maxime,
        nesciunt porro id optio similique reiciendis deleniti in. Quos, atque?
      </p>
    </article>
  </section>
  <section class="section-2">
    <article class="article-autor">
      <img class="autor-pic" src="./assets/images/autor-pic.JPG" alt="" />
      <h3 class="autor-title">Autor</h3>
      <p class="autor-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
        molestias ab pariatur, laudantium, ex accusamus amet suscipit explicabo
        dicta minima non quibusdam corrupti quis, facere voluptate quia aut
        aliquid odit?
      </p>
    </article>
    <div class="navs">
      <nav class="nav__sec">
        <ul class="list__sec">
          <li class="list__sec--item">Sección 1</li>
          <li class="list__sec--item">Sección 2</li>
          <li class="list__sec--item">Sección 3</li>
          <li class="list__sec--item">Sección 4</li>
          <li class="list__sec--item">Sección 5</li>
        </ul>
      </nav>
      <nav>
        <ul class="nav__categ">
          <li class="list__categ--item">Categoría 1</li>
          <li class="list__categ--item">Categoría 2</li>
          <li class="list__categ--item">Categoría 3</li>
          <li class="list__categ--item">Categoría 4</li>
          <li class="list__categ--item">Categoría 5</li>
        </ul>
      </nav>
    </div>
  </section>
</main>
