<main class="main">
  <section class="section__1">
    <include src="./main__p.html" title="Título post 1"></include>
    <include src="./main__p.html" title="Título post 2"></include>
    <include src="./main__p.html" title="Título post 3"></include>
  <section class="section__2">
    <article class="article-autor">
      <img class="autor-pic" src="./assets/images/autor-pic.JPG" alt="" />
      <h3 class="autor-title">Autor</h3>
      <p class="autor-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
        molestias ab pariatur, laudantium, ex accusamus amet suscipit explicabo
        dicta minima non quibusdam corrupti quis, facere voluptate quia aut
        aliquid odit?
      </p>
    </article> 
    <div class="navs">
      <nav class="nav__sec">
        <ul class="list__sec">
          <li class="list__sec--item">Sección 1</li>
          <li class="list__sec--item">Sección 2</li>
          <li class="list__sec--item">Sección 3</li>
          <li class="list__sec--item">Sección 4</li>
          <li class="list__sec--item">Sección 5</li>
        </ul>
      </nav>
      <nav class="nav__categ">
        <ul class="list__categ">
          <li class="list__categ--item">Categoría 1</li>
          <li class="list__categ--item">Categoría 2</li>
          <li class="list__categ--item">Categoría 3</li>
          <li class="list__categ--item">Categoría 4</li>
          <li class="list__categ--item">Categoría 5</li>
        </ul>
      </nav>
    </div>
  </section>
</main>
