.body {
  background-color: #ffcc00;
}
.background2 {
  background-color: #ff9900;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.face {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 60px;
}
.mood {
  font-size: 12px;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  margin-right: 5px;
}

.button {
  font-size: 12px;
  background-color: #008ee5;
  color: #eaf5fc;
  border-radius: 5px;
  width: 60px;
  height: 30px;
  margin-left: 5px;
}
